# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

file1_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
file2_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
file3_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

df1 = pd.read_csv(file1_url)
df2 = pd.read_csv(file2_url)
df3 = pd.read_csv(file3_url)

def clean_data(df):
    df.columns = df.columns.str.lower()
    
    df.columns = df.columns.str.strip()
    
    df = df.fillna('unknown')
    
    for col in df.select_dtypes(include=['int', 'float']).columns:
        df[col] = df[col].astype(float)
    
    return df

df1_cleaned = clean_data(df1)
df2_cleaned = clean_data(df2)
df3_cleaned = clean_data(df3)

combined_df = pd.concat([df1_cleaned, df2_cleaned, df3_cleaned], ignore_index=True)

combined_df.to_csv('combined_cleaned_data.csv', index=False)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [5]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df = pd.read_csv(url)

print(df.head())
print(df.info())
print(df.describe(include='all'))

def clean_data(df):
    df.columns = df.columns.str.lower()
    
    df.columns = df.columns.str.strip()
    
    for col in df.select_dtypes(include=['object']).columns:
        df[col] = df[col].fillna('unknown')
    for col in df.select_dtypes(include=['int64', 'float64']).columns:
        df[col] = df[col].fillna(df[col].mean())
    
    for col in df.select_dtypes(include=['int64']).columns:
        df[col] = df[col].astype(float)  
    
    return df

df_cleaned = clean_data(df)

print(df_cleaned.describe())
print(df_cleaned.describe(include=['object']))
print(df_cleaned['response'].value_counts())
print(df_cleaned.corr())

df_cleaned.to_csv('marketing_customer_analysis_cleaned.csv', index=False)

   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None
          unnamed:_0 customer       state  customer_lifetime_value response  \
count   10910.000000    10910       10910             10910.000000    10910
unique           NaN     9134           5                      NaN        2
top              NaN  ID89933  California                      NaN       No
freq             NaN        7        4183                      NaN     9444
mean     5454.500000      NaN         NaN              8018.241094      NaN
std      3149.590053      NaN         NaN              6885.081434      NaN
min         0.000000      NaN         NaN              1898.007675      NaN
25%      2727.250000      NaN         NaN              4014.453113      NaN
50%      5454.500000      NaN         NaN              5771.147235      NaN
75%      8181.750000      NaN         NaN              8992.779137      NaN
max     10909.000000      NaN         NaN             83325.381190      NaN

       coverage education effective_to_date employmentstatus gender  ...  \
count     10910     10910             10910            10910  10910  ...
unique        3         5                59                5      2  ...
top       Basic  Bachelor        2011-01-10         Employed      F  ...
freq       6660      3272               239             6789   5573  ...
mean        NaN       NaN               NaN              NaN    NaN  ...
std         NaN       NaN               NaN              NaN    NaN  ...
min         NaN       NaN               NaN              NaN    NaN  ...
25%         NaN       NaN               NaN              NaN    NaN  ...
50%         NaN       NaN               NaN              NaN    NaN  ...
75%         NaN       NaN               NaN              NaN    NaN  ...
max         NaN       NaN               NaN              NaN    NaN  ...

        number_of_policies    policy_type       policy  renew_offer_type  \
count         10910.000000          10910        10910             10910
unique                 NaN              3            9                 4
top                    NaN  Personal Auto  Personal L3            Offer1
freq                   NaN           8128         4118              4483
mean              2.979193            NaN          NaN               NaN
std               2.399359            NaN          NaN               NaN
min               1.000000            NaN          NaN               NaN
25%               1.000000            NaN          NaN               NaN
50%               2.000000            NaN          NaN               NaN
75%               4.000000            NaN          NaN               NaN
max               9.000000            NaN          NaN               NaN

        sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
count           10910        10910.000000          10910         10910
unique              4                 NaN              6             3
top             Agent                 NaN  Four-Door Car       Medsize
freq             4121                 NaN           5834          7873
mean              NaN          434.888330            NaN           NaN
std               NaN          292.180556            NaN           NaN
min               NaN            0.099007            NaN           NaN
25%               NaN          271.082527            NaN           NaN
50%               NaN          382.564630            NaN           NaN
75%               NaN          547.200000            NaN           NaN
max               NaN         2893.239678            NaN           NaN

       vehicle_type         month
count         10910  10910.000000
unique            1           NaN
top               A           NaN
freq          10910           NaN
mean            NaN      1.466728
std             NaN      0.498915
min             NaN      1.000000
25%             NaN      1.000000
50%             NaN      1.000000
75%             NaN      2.000000
max             NaN      2.000000

[11 rows x 27 columns]
         unnamed:_0  customer_lifetime_value        income  \
count  10910.000000             10910.000000  10910.000000
mean    5454.500000              8018.241094  37536.284785
std     3149.590053              6885.081434  30359.195670
min        0.000000              1898.007675      0.000000
25%     2727.250000              4014.453113      0.000000
50%     5454.500000              5771.147235  33813.500000
75%     8181.750000              8992.779137  62250.750000
max    10909.000000             83325.381190  99981.000000

       monthly_premium_auto  months_since_last_claim  \
count          10910.000000             10910.000000
mean              93.196059                15.149071
std               34.442532                 9.783520
min               61.000000                 0.000000
25%               68.000000                 7.000000
50%               83.000000                15.000000
75%              109.000000                23.000000
max              298.000000                35.000000

       months_since_policy_inception  number_of_open_complaints  \
count                   10910.000000               10910.000000
mean                       48.091934                   0.384256
std                        27.940675                   0.885589
min                         0.000000                   0.000000
25%                        24.000000                   0.000000
50%                        48.000000                   0.000000
75%                        71.000000                   0.384256
max                        99.000000                   5.000000

       number_of_policies  total_claim_amount         month
count        10910.000000        10910.000000  10910.000000
mean             2.979193          434.888330      1.466728
std              2.399359          292.180556      0.498915
min              1.000000            0.099007      1.000000
25%              1.000000          271.082527      1.000000
50%              2.000000          382.564630      1.000000
75%              4.000000          547.200000      2.000000
max              9.000000         2893.239678      2.000000
       customer       state response coverage education effective_to_date  \
count     10910       10910    10910    10910     10910             10910
unique     9134           5        2        3         5                59
top     ID89933  California       No    Basic  Bachelor        2011-01-10
freq          7        4183     9444     6660      3272               239

       employmentstatus gender location_code marital_status    policy_type  \
count             10910  10910         10910          10910          10910
unique                5      2             3              3              3
top            Employed      F      Suburban        Married  Personal Auto
freq               6789   5573          6902           6319           8128

             policy renew_offer_type sales_channel  vehicle_class  \
count         10910            10910         10910          10910
unique            9                4             4              6
top     Personal L3           Offer1         Agent  Four-Door Car
freq           4118             4483          4121           5834

       vehicle_size vehicle_type
count         10910        10910
unique            3            1
top         Medsize            A
freq           7873        10910
response
No     9444
Yes    1466
Name: count, dtype: int64

ValueError: could not convert string to float: 'A'

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here